name: Deploy Python Code
on: [workflow_dispatch]

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Copy Python files
        uses: appleboy/scp-action@v0.1.7
        with:
            host: ${{ secrets.VM_HOST }}
            username: ubuntu
            key: ${{ secrets.VM_KEY }}
            port: 22
            source: "./main.py,./requirements.txt"
            target: /home/ubuntu

      - name: Install Python dependencies and run script
        uses: appleboy/ssh-action@v1.2.0
        with:
            host: ${{ secrets.VM_HOST }}
            username: ubuntu
            key: ${{ secrets.VM_KEY }}
            port: 22
            script: |
                pip3 install flask --break-system-packages
                python3 main.py
    

